DistributedTaskSolving.Application.Shared/bin/
DistributedTaskSolving.Application.Shared/obj/
DistributedTaskSolving.Application/bin/Debug/netcoreapp3.1/DistributedTaskSolving.Application.pdb
DistributedTaskSolving.Application/bin/
DistributedTaskSolving.Application/obj/
DistributedTaskSolving.EntityFrameworkCore/bin/
DistributedTaskSolving.EntityFrameworkCore/obj/
DistributedTaskSolving.Storage/obj/
.vs/
DistributedTaskSolving.Storage/bin/
DistributedTaskSolving/bin/
*/obj/*
