server/DistributedTaskSolving.Application.Shared/bin/
server/DistributedTaskSolving.Application.Shared/obj/
server/DistributedTaskSolving.Application/bin/Debug/netcoreapp3.1/DistributedTaskSolving.Application.pdb
server/DistributedTaskSolving.Application/bin/
server/DistributedTaskSolving.Application/obj/
server/DistributedTaskSolving.EntityFrameworkCore/bin/
server/DistributedTaskSolving.EntityFrameworkCore/obj/
server/DistributedTaskSolving.Storage/obj/
server/.vs/
server/DistributedTaskSolving.Storage/bin/
server/DistributedTaskSolving/bin/
server/*/obj/*
server/*/bin/*
server/*/Debug/*
server/DistributedTaskSolving/obj/
