<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
    <extensions>
        <add assembly="NLog.Appsettings.Standard" />
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>
    <targets>
        <target xsi:type="File" name="f" fileName="${currentdir}/App_Data/Logs/Logs.log" maxArchiveFiles="7" archiveAboveSize="10240000" archiveEvery="Day" layout="${uppercase:${level}} [${longdate}]  ${logger} ${aspnet-traceidentifier} ${aspnet-request-method} ${aspnet-request-url} ${message} ${exception:format=tostring} " />
        <target name="db" xsi:type="Database">
            <connectionString>${appsettings:name=ConnectionStrings.DefaultConnection}</connectionString>
            <commandText>
        INSERT INTO App.ApiLogs
        (CreationDateTime, ResponseBody, Exception,
        Level, Logger, Message,
        RequestMethod, RequestUrl, ResponseCode,
        TraceIdentifier)
        VALUES
        (@Date, @Response, @Exception, 
        @Level, @Logger, @Message,
        @ReqMethod,  @ReqUrl, @ResponseCode, 
        @TraceID);
      </commandText>
            <parameter name="@Level" layout="${level}" />
            <parameter name="@Date" layout="${date}" />
            <parameter name="@Logger" layout="${logger}" />
            <parameter name="@TraceID" layout="${aspnet-traceidentifier}" />
            <parameter name="@ReqMethod" layout="${aspnet-request-method}" />
            <parameter name="@ReqUrl" layout="${aspnet-request-url}" />
            <parameter name="@Message" layout="${message}" />
            <parameter name="@Exception" layout="${exception:tostring}" />
            <parameter name="@ResponseCode" layout="${aspnet-response-statuscode}" />
            <parameter name="@Response" layout="${aspnet-item:variable=response}" />
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="f" />
        <logger name="*" minlevel="Trace" writeTo="db" />
    </rules>
</nlog>