@page "/signalrTest"
@inject NavigationManager navigationManager
@using DistributedTaskSolving.Application.Business.JobSystem.JobInstances.Hubs.Clients
@using DistributedTaskSolving.Business.BusinessEntities.JobSystem.JobTypes

<h1>Page To Test SignalR</h1>


@foreach (var jobType in JobTypeEnums.DefaultJobTypes.ToList())
{
    <button @onclick="@(() => Connect(jobType))">Connect to hub for job type: @jobType</button>
}

@if (_hubClient != null && !string.IsNullOrEmpty(_hubClient.LastMessageFromServer))
{
    <div>
        Server responded with: @_hubClient.LastMessageFromServer
    </div>
}

@code
{
    JobInstanceHubClient _hubClient = null;

    async Task Connect(string jobTypeName)
    {
        _hubClient = new JobInstanceHubClient(navigationManager);
        await _hubClient.StartWorkAsync(jobTypeName);
    }
}
