@page "/jobInstances"
@using DistributedTaskSolving.Application.Business.JobSystem.JobInstances.CommandHandlers
@using DistributedTaskSolving.Application.Business.JobSystem.JobInstances.QueryHandlers
@using DistributedTaskSolving.Application.IGenerics.GridServices
@using DistributedTaskSolving.Application.Shared.Business.JobSystem.Algorithms
@using DistributedTaskSolving.Application.Shared.Business.JobSystem.JobInstances.Dto
@using DistributedTaskSolving.Business.BusinessEntities.JobSystem.Algorithms
@using DistributedTaskSolving.Business.BusinessEntities.JobSystem.JobInstances
@using Microsoft.Extensions.Primitives
@inject IQueryGridService<Algorithm, long, AlgorithmDto> AlgorithmQueryGridService
@inject IQueryGridService<JobInstance, long, JobInstanceDto> QueryGridService
@inject ICrudGridService<JobInstanceDto, long, JobInstanceQuery, UpdateJobInstanceCommand, CreateJobInstanceCommand, DeleteJobInstanceCommand> CrudService


<h1>Job Instances</h1>
<p>Jobs that are to be completed or already finished.</p>

@if (_task.IsCompleted)
{
    <GridComponent T="JobInstanceDto" Grid="@_grid"></GridComponent>
}
else
{
    <p><em>Loading...</em></p>
}
@code
{
    private CGrid<JobInstanceDto> _grid;
    private Task _task;

    protected override async Task OnParametersSetAsync()
    {
        Action<IGridColumnCollection<JobInstanceDto>> columns = c =>
        {
            c.Add(o => o.Id).SetPrimaryKey(true).SetCrudHidden(true);
            c.Add(o => o.JobTypeName).Titled("Job Type").SetCrudHidden(true);
            c.Add(o => o.Key).SetReadOnlyOnUpdate(true);
            c.Add(o => o.IsSolved).SetCrudHidden(true);
            c.Add(o => o.Result).SetCrudHidden(true);
            c.Add(o => o.CreationDateTime).SetCrudHidden(true);
            c.Add(o => o.CreatorUserName).SetCrudHidden(true);
            c.Add(o => o.LastModificationDateTime).SetCrudHidden(true);
            c.Add(o => o.LastModifierUserName).SetCrudHidden(true);
        };

        var query = new QueryDictionary<StringValues>();

        var client = new GridClient<JobInstanceDto>(q => QueryGridService.GetAll(q), query, false, "JobInstancesGrid", columns)
            .Sortable(true)
            .SetStriped(true)
            .ChangePageSize(true)
            .Crud(true, CrudService)
            .WithGridItemsCount();

        _grid = client.Grid;

        _task = client.UpdateGrid();
        await _task;
    }
}