@page "/workUnits"
@using DistributedTaskSolving.Application.IGenerics.GridServices
@using DistributedTaskSolving.Application.Shared.Business.JobSystem.Algorithms
@using DistributedTaskSolving.Application.Shared.Business.JobSystem.WorkUnits.Dto
@using DistributedTaskSolving.Business.BusinessEntities.JobSystem.Algorithms
@using DistributedTaskSolving.Business.BusinessEntities.JobSystem.WorkUnits
@using Microsoft.Extensions.Primitives
@inject IQueryGridService<Algorithm, long, AlgorithmDto> AlgorithmQueryGridService
@inject IQueryGridService<WorkUnit, long, WorkUnitDto> QueryGridService


<h1>Work Units</h1>
<p>Chunks of work executed by the clients.</p>

@if (_task.IsCompleted)
{
    <GridComponent T="WorkUnitDto" Grid="@_grid"></GridComponent>
}
else
{
    <p><em>Loading...</em></p>
}
@code
{
    private CGrid<WorkUnitDto> _grid;
    private Task _task;

    protected override async Task OnParametersSetAsync()
    {
        Action<IGridColumnCollection<WorkUnitDto>> columns = c =>
        {
            c.Add(o => o.Id).SetPrimaryKey(true);
            c.Add(o => o.JobTypeName).Titled("Job Type");
            c.Add(o => o.JobInstanceId).Titled("Job Instance");
            c.Add(o => o.ProgrammingLanguageName);
            c.Add(o => o.AlgorithmName);
            c.Add(o => o.DataIn);
        //c.Add(o => o.DataOut);
        c.Add(o => o.IsSolved);
            c.Add(o => o.IsAbandoned);
            c.Add(o => o.CreationDateTime);
            c.Add(o => o.SubmitDateTime);
        };

        var query = new QueryDictionary<StringValues>();

        var client = new GridClient<WorkUnitDto>(q => QueryGridService.GetAll(q), query, false, "WorkUnitsGrid", columns)
            .Sortable(true)
            .SetStriped(true)
            .ChangePageSize(true)
            .WithGridItemsCount();

        _grid = client.Grid;

        _task = client.UpdateGrid();
        await _task;
    }
}